{%extends 'store/base.html' %}

{% block content %}
    <article class="media content-section">
        <div class="article-metadata card card-body">
            <p class="article-content">
                Hello Shopify team! Thank you for taking the time to review my submission for the backend developer intern role. I'm very excited for you to evaluate my work!
            </p>
            <p class="article content">
                On this page I've provided instructions on how this web app works. This app functions as a photo repository as well as a simple marketplace for photos (users can upload and sell pictures). I chose to use the Django framework in Python because I figured that it has a lot of plugins available which would reduce the lines of code in the backend, as well as the fact that I wasn't too comfortable with this framework when I started and I wanted to practice! (Also please note that I spent most of my efforts on the backend because of the job description, I don't have too much experience in UI/UX but I plan on getting there!)
            </p>
            <small class="article-content">
                To get started, you can create a username and password (email is required). Then, you can navigate to the home page, where you will see displayed in a 3x27 grid all of the photos on the site, in reverse chronological order.
            </small>
        </div>
    </article>
{% endblock content %}