{% extends "store/base.html" %}
{% block content %}
    <h2>Today's featured photos:</h2>
    {% if featured.count > 0 %}
        {% for post in featured %}
            {% if post.featured %}
                <article class="media content-section">
                    <div class="media-body">
                        <div class = "gallery">
                            <section class ="photo_gallery">
                                <a href="{{ post.pic.url }}"><img src="{{ post.thumbnail.url }}"/></a>
                            </section>
                        </div>
                        <div>
                            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                            <div class="article-metadata">
                                <a class="mr-2" href="{% url 'user-photos' post.author.username %}">{{ post.author }}</a>
                                <small class="text-muted">{{ post.date_posted }}</small>
                            </div>
                            <div>
                                <h2><a class="article-title" href="{% url 'photo-details' post.id %}">{{ post.title }}</a></h2>
                                <p>
                                    <a class="btn btn-info" data-toggle="collapse" href="#{{ post.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        Description
                                    </a>
                                </p>
                                <div class="collapse" id="{{post.id}}">
                                    <div class="card card-body">
                                    {{ post.description }}
                                    </div>
                                </div>
                            </div>
                        </div>
                </article>
            {% endif %}
        {%endfor%}
    {% else %}
        <h3>Unfortunately there are no featured photos at the moment. Please check again later.</h3>
        <small>Click <a href="{% url 'store-home' %}">here</a> to see all photos.</small>
    {% endif %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}